@charset "UTF-8";
/* CSS Document */
        /* Mileage Calculator */

        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .container {
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            width: 300px;
        }
